{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    {% for post in posts %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content|length > 200 ? post.content|slice(0, 200) ~ '...' : post.content }}</p>
            <a href="{{ path('app_post_show', {'id': post.id}) }}">Lire l'article</a>
        </div>
    {% else %}
        <p>Aucun article publié pour le moment.</p>
    {% endfor %}
{% endblock %}
